body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background: url('./images/stadium.jpg') no-repeat center center fixed;
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.title, .addDwightButton{
  padding:5px 12px;
  float:right;
}
.title, .addPokeBallButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  transition: all 1s ease;
}

.pikachu {
  position: relative;
  height: 5em;
  width: 5em;
}

.charmander {
  position: relative;
  height: 5em;
  width: 5em;
}

.dancer2 {
  position: relative;
}

.lineUp {
  display: block;
}

.lineUpCenter {
  top: 0;
  left: window.innerWidth / 2;
}

.big {
  border: 1px solid red;
}

.pokemonDancer {

}
.raichu {
  height: 20em;
  width: 20em;
  padding-right: 0;
  margin: 0;
}
.charmeleon {
  height: 8em;
  width: 20em;
  padding-right: 0;
  margin: 0;
}
.pokeball {
  position: absolute;
  height: 10em;
  width: 10em;
}

.charizard {
  height: 30em;
  width: 25em;
  padding-right: 0;
  margin: 0;
}

.wrapper {
}